<footer>
    <section class="footer-main">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 no-pad">

                    <div class="footer-main-container">

                        <span class=" hastag-box">
                            <p class="hastag-box-text font-12">
                                #MISSCHERRIES </p>
                        </span>

                        <div class="footer-main-pic">
                            <span class="flow-pic">
                                <img class="blue-lines" src="img/blue_lines.png">
                            </span>

                            <img class="footer-img" src="img/footer_main.png">
                            <img class="footer-main-mobile" src="img/footer_main_mobile.png">

                        </div>
                        <p class="follow-us-text">SÍGUENOS</p>
                        <div class="instagram-missc">
                            <!-- <i class="fab fa-instagram"></i> -->
                            <img class="instagram-picture" src="img/instagram_black.png">
                            <p class="instagram-text font-10">@MISSCHERRIES</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row text-center ">
                <div class="col-12 container-foot-nav">
                    <nav class="navbar navbar-expand ">
                        <div class="collapse navbar-collapse nav-foot-container">
                            <ul class="navbar-nav nav-foot-mobile">
                                <li class="nav-item nav-item-foot">
                                    <a class="nav-link " href="#">Mi Cuenta</a>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-circle bullet-nav"></i> </li>
                                </li>
                                <li class="nav-item nav-item-foot">
                                    <a class="nav-link" href="#">MIS FAVORITOS</a>
                                </li>

                                <li class="nav-item">
                                    <i class="fa fa-circle bullet-nav"></i> </li>
                                </li>

                                <li class="nav-item nav-item-foot">
                                    <a class="nav-link" href="#">ENVÍOS Y DEVOLUCIONES</a>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-circle bullet-nav"></i> </li>
                                </li>
                                <li class="nav-item nav-item-foot">
                                    <a class="nav-link" href="#">CONTACTO</a>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-circle bullet-nav"></i> </li>
                                </li>
                                <li class="nav-item nav-item-foot">
                                    <a class="nav-link" href="#">AYUDA</a>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-circle bullet-nav"></i> </li>
                                </li>
                                <li class="nav-item nav-item-foot">
                                    <a class="nav-link" href="#">QUIÉNES SOMOS</a>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-circle bullet-nav"></i> </li>
                                </li>
                                <li class="nav-item nav-item-foot">
                                    <a class="nav-link" href="#">TÉRMINOS Y CONDICIONES</a>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-circle bullet-nav"></i> </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">EN</a>
                                </li>
                                <li class="nav-item">
                                    <i class="fa fa-minus bullet-nav"></i> </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-language-selected " href="#">ES</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>


    </section>
    <section class="footer-end-bck-color" <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="footer-list-media">
                    <img class="footer-media-img" src="img/social_media.png">
                    <img class="footer-media-img-mobile" src="img/icons_mobile.png">
                    <!-- <i class="fab fa-instagram"></i>
                    <i class="fa fa-facebook-official"></i>
                    <i class="fab fa-pinterest-square"></i> -->
                </div>
            </div>
        </div>
        </div>
    </section>
</footer>
</body>

</html>
