<main>
    <section class="head-pictures">

        <div class="section-main-pictures">
            <img class="head-main-img" src="img/head_main.png">
            <img class="head-main-img-mobile" src="img/head_main_mobile.png">
            <span class="info-picture">
                <img class="" src="img/info-pic.png">
            </span>
            <span class=" top-sales-box">
                <p class="top-sales-box-text font-12">
                    TOP VENTAS </p>
            </span>
        </div>

    </section>

    <section class="accesories">

        <span class="flow-pic">
            <img class="red-flower" src="img/red_flower.png">
        </span>
        <span class="flow-pic">
            <img class="black-shape" src="img/black_lines.png">
        </span>
        <span class="flow-pic">
            <img class="brown-shape" src="img/brown-shape.png">
        </span>

        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Collares</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Anillos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Pulseras</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Chokers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Pendientes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Mix & Match</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 offset-md-4">
                    <div class="card las-row-card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Tobilleras</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card las-row-card">
                        <img class="card-img-top" src="img/img-card.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="black-container">
                                <p class="card-text">Gift Cards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mobile-body-picture">

        <!-- <div class="container-fluid">
            <div class="row">
                <div class=col-12> -->
        <img class="mobile-body-picture-img" src="img/accesories_mobile.png">
        <img class="mobile-body-text" src="img/accesories_mobile_text.png">
        <img class="mobile-body-logo" src="img/accesories_mobile_logo.png">
        <!--   </div>
           </div>
        </div> -->

    </section>

    <section class="socialclub">
        <div class="container-fluid ">
            <div class="row justify-content-around">
                <div class="col-12 order-md-last bck-color-about-us">

                    <div class="about-us-container ">

                        <div class="about-us-title">
                            <span class="about-us-strong">Miss Cherries</span> nació para acompañar a la mujer en su
                            empoderamiento y honrar su belleza
                            auténtica
                            con un toque original, elegante y divertido. De diseño vanguardista,
                            <br />
                            todas nuestras piezas son hipoalergénicas y están elaboradas en Plata de Ley 925 con baño de
                            rodio y
                            oro.
                        </div>
                        <div class="about-us-list">
                            <span class="about-us-list-text ">COMPRA DE FORMA SEGURA</span>
                            <br />
                            <span class="about-us-list-text "> ENVÍO GRATUITO A PARTIR DE 20 €</span>
                            <br />
                            <span class="about-us-list-text "> ENTREGA EN 24/48 H</span>
                        </div>
                    </div>

                </div>


                <div class=" col-11 col-md-12 order-md-first">
                    <div class="socialclub-container">
                        <p class="socialclub-title strong-fw font-12">Miss Cherries Social Club </p>
                        <p class="socialclub-text-container ">
                            <span class="socialclub-text">
                            ¿Te gusta explorar nuevas tendencias y enterarte a tiempo de las ofertas exclusivas?
                            <br />
                            Introduce tu email y te enviaremos newsletters con las novedades.
                        </span>
                            <br />
                            <span class="socialclub-lastline">Compartimos nuestra pasión por la moda.</span>

                        </p>
                        <hr class="socialclub-custom-hr">
                        <button type='button' class='btn btn-join'> Me Apunto</button>
                    </div>
                </div>
            </div>
        </div>



    </section>

</main>
