.section-main-pictures {
  .info-picture {
    float: right;
    position: absolute;
    right: 4rem;
    top: 21rem;

    img {
      width: 11rem;
    }
  }
}

.head-main-img-mobile,
.top-sales-box,
.mobile-body-picture {
  display: none;
}

.top-sales-box {
  background-color: $black;
  color: $white;
  left: 50%;
  position: absolute;
  top: 8rem;
  transform: translateX(-50%);
}

.top-sales-box-text {
  margin: auto;
  padding: 0 1.5rem;
}

.mobile-body-text {
  bottom: 35rem;
  left: 3.2rem;
  max-width: 65%;
  position: relative;
}

.mobile-body-logo {
  bottom: 1.5rem;
  float: right;
  max-width: 9%;
  position: relative;
  right: .3rem;
}

.accesories {
  background-image: url('../../img/back_accesories.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 5rem;
}

.card {
  background-color: unset;
  border: 0;
  border-color: unset;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 $card-shadow-1, 0 6px 20px 0 $card-shadow-1;
  margin-bottom: 1rem;
}

.card-body {
  background-color: $white;
  padding: 0;
}

.black-container {
  background-color: $black;
  box-shadow: none;
  margin: .5rem auto;
  width: 7rem;
}

.las-row-card {
  margin-bottom: 4rem;
}

.main-info-pic {
  bottom: 9rem;
  left: 25rem;
  max-width: 9rem;
  position: absolute;
}


@media (max-width: 768px) {
  .info-picture,
  .head-main-img {
    display: none;
  }

  .accesories {
    background-image: none;
    padding-top: 2rem;
  }

  .head-main-img-mobile,
  .top-sales-box,
  .mobile-body-picture {
    display: block;
  }

  .card-body {
    background-color: $card-grey;
  }

  .black-container {
    width: 100%;
  }

  .las-row-card {
    margin-bottom: 0;
  }

}
