.hastag-box {
  background-color: $black;
  color: $white;
  max-width: 14rem;
  position: absolute;
  top: -1rem;
  z-index: + 1;
}

.hastag-box-text {
  margin: auto;
  padding: .5rem 1.5rem;
}

.footer-main {
  background-image: url('../img/back_footer.png');
  background-position: -700px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-main-pic {
  max-width: 70%;
  text-align: center;
}

.footer-main-mobile {
  display: none;
}

.instagram-missc {
  display: flex;
  padding-bottom: 2rem;
}

.follow-us-text {
  padding: 3rem 0 .5rem;
}

.instagram-text {
  padding-left: .5rem;
}

.instagram-picture {
  max-height: 1.5rem;
  max-width: 1.5rem;
}

.footer-end-bck-color {
  background-color: $background-grey;
}

.footer-list-media {
  display: felx;
  flex-direction: column;
  max-width: 100%;
  padding: 4rem 0;
  text-align: center;
}

.footer-media-img {
  margin: 0 auto;
}

.nav-language-selected {
  text-decoration: underline;
}

.bullet-nav {
  font-size: 3px;
  padding-top: .9rem;
}

.nav-foot-container {
  justify-content: center;
}

.footer-media-img-mobile {
  display: none;
  max-width: 30%;
}

@media (max-width: 768px) {

  .footer-main {
    background-image: unset;
  }

  .footer-main-pic {
    max-width: 100%;
  }

  .footer-main-mobile,
  .footer-media-img-mobile {
    display: block;
  }

  .footer-media-img-mobile {
    margin: 0 auto;
  }

  .footer-img,
  .bullet-nav,
  .footer-media-img {
    display: none;
  }

  .nav-foot-mobile {
    flex-wrap: wrap;
    font-weight: unset;
  }

  .nav-item-foot {
    flex: 0 0 100%;
  }

  .follow-us-text {
    font-size: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .no-pad {
    padding: 0;
  }

  .footer-list-media {
    padding:  2rem 0;
  }

}
