* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-size: 1rem;
  height: 100vh;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}




main {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
}

.strong-fw,
.nav-foot-mobile,
.current-nav {
  font-weight: 700;
}

.my-account,
.nav-item,
.socialclub,
.socialclub-container-head,
a  {
  color: $black;
}

.btn-join,
.my-account,
.nav-item,
.card-text,
.socialclub-title {
  text-transform: uppercase;
}

.btn-join,
.socialclub-title,
.follow-us-text,
.hastag-box-text {
  letter-spacing: .3rem;
}

.footer-nav-list,
.follow-us-text,
.about-us-list,
.my-account,
.instagram-text,
.top-sales-box-text {
  letter-spacing: .2rem;
}

.about-us-title {
  letter-spacing: .02rem;
}

.card-text,
.socialclub {
  text-align: center;
}

.btn-join,
.card-text {
  color: $white;
}

.socialclub-title {
  line-height: 36.26px;
}

.socialclub-text-container {
  letter-spacing: .19px;
  vertical-align: middle;
}

.btn-join,
.socialclub-container,
.nav-foot-container,
.nav-menu {
  font-size: 12px;
}

.socialclub-text {
  font-size: 11px;
}

@media (min-width: 768px) {

  .card-text,
  .footer-nav-list,
  .follow-us-text {
    font-size: 9px;
  }

  .nav-item,
  .socialclub-subtitle,
  .font-10 {
    font-size: 10px;
  }

  .font-12,
  .socialclub-title,
  .about-us-list  {
    font-size: 12px;
  }

  .instagram-text {
    font-size: 14px;
  }

  .nav-icon {
    font-size: 14px;
  }

}
