.header-main-row {
  box-shadow: 0 4px 8px 0 $card-shadow-1, 0 6px 20px 0 $card-shadow-2;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 50%;
}

.nav-icons-header {
  margin: 1rem;
}

.menu-languages {
  padding-top: .5rem;
}

.select-languages {
  border: 0;
}

.shopping-bag-logo,
.favorites-logo {
  width: 1.3125rem;
}

.my-account-mobile {
  display: none;
}

@media (min-width: 768px) and (max-width: 912px) {

  .nav-link {
    padding: .5rem;
  }

  .nav-icons-header {
    margin: 0;
  }
}

@media (max-width: 768px) {

  .select-languages,
  .header-second-row,
  .my-account {
    display: none;
  }

  .my-account-mobile {
    display: block;
  }

  .logo {
    max-width: 100%;
  }

  .nav-link {
    padding: .5rem .3rem;
  }

  .nav-icons-header {
    margin: 0;
  }

}
