.logo-link {
  padding-left: 1rem;
}

.nav-menu {
  background-color: $white-transparent;
  box-shadow: 0 4px 8px 0 $card-shadow-1, 0 6px 20px 0 $card-shadow-2;
  position: absolute;
}

.first-nav {
  padding-top: 3.5rem;
}

.nav-list {
  list-style: none;
}

.nav-left {
  padding-bottom: 1rem;
  padding-right: 4rem;

  &::after {
    content: url('../img/arrow.png');
    padding-left: .7rem;
    position: absolute;
  }
}

.nav-down {
  padding-bottom: .1rem;
  padding-right: 4rem;
}

.btn-close {
  background-image: url('../img/close-symbol.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  padding: .7rem;
  position: relative;
  right: 1rem;
  top: .8rem;
}

.open-nav,
.btn-close {
  border: 0;
}

.opne-nav {
  background: transparent;
}

.nav-dash {
  background-color: $custom-grey;
  border: 0;
  height: 1px;
  margin-left: 1rem;
  width: 20%;
}

.nav-pdd {
  padding-top: 1.5rem;
}

.close-nav {
  display: none;
}

@media (max-width: 768px) {
  .logo-link {
    padding-left: 0;
  }
}
