.flow-pic {
  background-color: transparent;
}

.red-flower,
.black-shape,
.brown-shape {
  position: absolute;
  z-index: 1;
}

.red-flower {
  max-width: 29%;
  top: 33.3rem;

}

.black-shape {
  margin-top: 7rem;
  max-width: 5rem;
  right: 8rem;

}

.brown-shape {
  left: 5rem;
  max-width: 11rem;
  top: 95em;

}

.blue-lines {
  max-width: 10rem;
  position: absolute;
  right: 8rem;
  top: -7.5rem;
}

@media (max-width: 768px) {

  .flow-pic {
    display: none;
  }
}
