.socialclub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
}

.socialclub-container {
  margin-bottom: 8rem;
}

.bck-color-about-us {
  background-color: $background-grey;
}

.socialclub-custom-hr {
  margin-bottom: 2rem;
  margin-top: 4rem;
  width: 20rem;
}

.btn-join {
  background-color: $black;
  border-radius: 0;
  color: $white;
  padding: 0;
}

.btn-join :hover,
:focus {
  background-color: $white;
  border: 1px solid $black;
  color: $black;
  transition-delay: 10ms;
}

.about-us-container {
  font-size: 10px;
  margin: 0 auto;
  padding-bottom: 7rem;
  padding-top: 5.375rem;
}

.about-us-list {
  margin-top: 3rem;

  br {
    display: none;
  }
}

.about-us-list-text {
  padding-left: 1rem;
}

.about-us-list-text ::after {
  content: '-';
}

.about-us-strong {
  font-weight: unset;
}

@media (max-width: 768px) {
  .socialclub {
    bottom: 10rem;
    position: relative;
  }

  .socialclub-container {
    margin-bottom: 0;
  }


  .socialclub-lastline {
    font-style: italic;
  }

  .socialclub-title {
    font-weight: unset;
    padding-top: 3rem;
  }

  .about-us-strong {
    font-weight: 700;
  }

  .about-us-list-text {
    letter-spacing: .2rem;
  }

  .container-foot-nav {
    background-color: $background-grey;
  }

  .socialclub-text,
  .about-us-title {
    br {
      display: none;
    }
  }

  .about-us-list {
    margin-top: 1rem;

    br {
      display: block;
    }
  }

  .socialclub-custom-hr {
    border-top: 1px solid $black;
    width: 11rem;
  }
}

@media (max-width: 360px) {
  .socialclub {
    bottom: 6.4rem;
    position: relative;
  }
}
